@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
body {
    min-height: 100%;
    @include m.tablet {
        height: 100%;
    }
    display: flex;
    flex-direction: column;
    background-color: v.$negro;
    color: v.$blanco;
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.slogan{
    margin-top: 5rem;
    font-weight: bold;
    display: flex;
}

.info-text{
    font-size: 1.5rem;
}

.info-dir-tel{
    margin-top: 5rem;
    font-weight: bold;
    
    .info-flex{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.centrar-contenido{
    display: flex;
    justify-content: flex-end;
}